h2 Registration Successful

p = "Thank you for registering for #{@event.title}."
p = "A confirmation/receipt has been sent to the email address you provided. If you notice any problems or have any questions, please contact Sifu Chris Didyk at #{ENV['SIFU_EMAIL']}."
p Enjoy the courses!

p
  a href="http://shaolinstpete.com" Return to shaolinstpete.com